[submodule "trezor-common"]
	path = trezor-common
	url = https://github.com/trezor/trezor-common.git
[submodule "management/data"]
	path = management/data
	url = https://github.com/trezor/webwallet-data
