*.swp
config_proto_compiled.js
extension/index.js
node_modules/
extension/data/
extension/management/
extension/manifest.json
management/app/bower_components/
management/app/scripts/config.js
management/dist/
