<!---this modal is displayed when forget is requested-->
<ng-include src="'views/modal/upperheader.html'"></ng-include>
<div class="modal-header">
  <h4 class="modal-title">Forget device?</h4>
</div>
<div class="modal-body">
  <p>Do you want to forget your device?</p>
  <p class="text-muted">Forgetting only removes the device from the list 
  on the left, your bitcoins are still safe and you can access them by 
  reconnecting your Trezor again.</p>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$close('dont-forget')">Don't forget</button>
  <button type="button" class="btn btn-primary" ng-click="$close('forget')">Forget</button>
</div>
