<div ng-controller="DebugCtrl"
     ng-cloak>
    <div class="alert alert-flash alert-info alert-logs"
         ng-if="debug.visible">
        <button type="button" class="close"
                ng-click="debug.toggle()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4>Log</h4>
        <textarea ng-click="debug.focus($event)">{{debug.logs}}</textarea>
        <p>Warning: This log can contain your XPUB. When you give it
        to a third party, you allow it to see your whole transaction
        history.</p>
    </div>
</div>
